---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home Page'>
  <!-- navbar -->
  <main class='max-w-7xl mx-auto px-10'>
    <!-- header -->
    <header class='py-10 grid gap-2 md:grid-cols-2 justify-center items-center'>
      <div>
        <h1 class='text-4xl font-bold text-yellow-400 text-center'>
          مرحب بك في hatuta
        </h1>
        <p class='text-slate-500 text-xl md:text-2xl mt-3'>
          <strong class='uppercase text-xl text-yellow-800 font-mono font-bold'
            >hatuta</strong
          > هو المصدر الأول للحصول على الخدمة الذاتية الخاصة بكتابة سيناريو الإعلان
          الإبداعي. نحن نقدم خدمة الإبداع في الإعلان الذي يساعد الشركات على الحصول
          على الشعبية والإيرادات الضرورية للنجاح. نحن نقدم خدمة التحليل الجدير بالإعتناء
          للشركة والمنتج الذي يزيد من الصحة الجيدة الذي يحظى به الشركة لضمان الشعبية
          الجديدة الذي يحظى به الشركة، يرجى التواصل معنا للحصول على الخدمة الخاصة
          بك
        </p>
      </div>
      <img src='/work3.svg' class='w-full object-cover rounded-md' alt='' />
    </header>
    <!-- about us or how are -->

    <div class='py-20 md:py-32'>
      <h1 class='text-4xl font-bold text-yellow-400 text-center'>من نحنا</h1>
      <div class='grid gap-2 md:grid-cols-2 items-center justify-center my-10'>
        <p class='text-slate-500 text-xl md:text-2xl'>
          <strong class='uppercase text-xl text-yellow-800 font-mono font-bold'
            >hatuta</strong
          > هو موقع يتخصص في كتابة السيناريو الإعلاني الإبداعي. يهدف الموقع لتزويد
          الشركات بخدمة الكتابة الإبداعية التي تضمن لها الإطلاق الجديد الذي يحظى
          به الشركة. يتميز الموقع بخبرة في التحليل الجدير بالإعتناء للشركة و المنتج
          الذي يزيد من الصحة الجيدة الذي يحظى به الشركة لضمان الشعبية الجديدة الذي
          يحظى به الشركة. يرجى التواصل معنا للحصول على الخدمة الخاصة بك
        </p>

        <img src='undraw_typewriter_re_u9i2.svg' alt='' />
      </div>
    </div>

    <!-- gols -->

    <div class='py-10'>
      <h1 class='text-4xl font-bold text-yellow-400 text-center'>هدفنا</h1>

      <div class='grid gap-4 md:grid-cols-2 items-centers justify-centers my-5'>
        <p class='text-slate-500 text-xl md:text-2xl mt-3'>
          هدفنا في "هتوتا" هو تزويد الشركات بخدمة الكتابة الإبداعية الذاتية
          للسيناريو الإعلاني الذي يضمن لها الإطلاق الجديد والتطوير الذي يحقق رضا
          العملاء ويضع المنتج في الصدارة العالمية. نحرص على التحليل الجدير
          بالإعتناء للشركة و المنتج الذي يزيد من الصحة الجيدة الذي يحظى به
          الشركة لضمان الشعبية الجديدة الذي يحظى به الشركة. نعد دائماً بأن نقدم
          خدمة كبيرة الجودة و الإبداعية لجعل شركتنا الخاصة الخاصة بك ناجحة.
        </p>
        <img src='undraw_goals_re_lu76.svg' alt='' />
      </div>
    </div>

    <!-- version -->
    <div class='py-10'>
      <h1 class='text-4xl font-bold text-yellow-400 text-center'>روؤيتنا</h1>

      <div class='grid gap-4 md:grid-cols-2 items-centers justify-centers my-5'>
        <p class='text-slate-500 text-xl md:text-2xl mt-3'>
          روؤيتنا في "هتوتا" هي أن نصبح الشركة الرائدة في مجال كتابة السيناريو
          الإعلاني الإبداعي، وأن نسهل العملية للشركات الصغيرة والمتوسطة في
          الحصول على الإطلاق الجديد الذي يحقق النجاح العالمي للشركة والمنتج
          الخاص بها. نحن نؤمن بأن الإبداع والجودة العالية هي الطريقة الوحيدة
          للحقوق التي يحصل عليها الزبائن.
        </p>

        <img src='undraw_career_progress_ivdb.svg' alt='' />
      </div>
    </div>

    <!-- srever -->

    <!-- whay us -->

    <div>
      <p>
        نحن في "هتوتا" نحن الخبراء في مجال كتابة السيناريو الإعلاني الإبداعي،
        نحن نقدم خدمة الكتابة الإبداعية الذاتية التي تضمن النجاح العالمي للشركة
        والمنتج الخاص بها. نستخدم الذكاء الصناعي لتوليد افكار ابداعية و نحرص على
        التحليل الجدير لتحديد الشركة والمنتج الذي يزيد من الصحة الجيدة الذي يحظى
        به الشركة لضمان الشعبية الجديدة الذي يحظى به الشركة. نعد دائماً بأن نقدم
        خدمة كبيرة الجودة و الإبداعية لجعل شركتنا الخاصة الخاصة بك ناجحة.
      </p>
    </div>

    <!-- testminoe -->

    <!-- your works -->

    <!-- footer -->
  </main>
</Layout>
