<header class='flex flex-col items-center justify-center pb-14 mb-5 w-full h-[400px]'>
  <div>
    <img src='/card1.png' class='w-full' alt='' />
  </div>
  <h2 class='font-bold text-3xl'>Surface Deals</h2>
  <p class='text-sm mt-4'>
    Select Surfaces are on sale now - save while supplies last
  </p>
  <a href='#' class='bg-indigo-600 mt-3 px-4 py-1 rounded-md text-white hover:text-gray-400'>Shop Now</a>
</header>
